.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}

.logo {
  height: 35px;
  width: 35px;
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}